##### quiz
```
local city_info 데이터베이스의 popular 테이블의 데이터를 가져와
ubuntu test 데이터베이스의 popular 테이블로 마이그레이션하는 코드를 작성
```

In [7]:
# read local city_info popular 


import MySQLdb, pickle
import pandas as pd

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

pw = pickle.load(open('pw.p','rb'))

In [3]:
# write ubuntu test popular
db = MySQLdb.connect(
    "127.0.0.1",
    "root",
    "7895123a",
    "city_info",
    charset='utf8',
)

In [4]:
SQL_QUERY = """
    SELECT *
    FROM popular;
"""

In [8]:
curs = db.cursor() #database와 연결되어있는 interface 같은 것. 
count = curs.execute(SQL_QUERY)
rows = curs.fetchall()

city_df = pd.read_sql(SQL_QUERY, db)
city_df
# db.close()

   rank city_name  popular
0     1     seoul  9904312
1     2     busan  3448737
2     3   incheon  2890451
3     4     daegu  2466052
4     5   daejeon  1538394